/*

* {
    box-sizing: border-box;
}
/*
.row::after {
    content: "";
    clear: both;
    display: table;
}
*/

html, body, .mainCenterAttr
{
    width: 100%;
    height: 100%;/*100%;*/
    min-width: 320px;
    min-height: 480px;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

.mainBody
{
    display: flex;
}

.logButtons
{
    height: 100%;
    background-color: indianred;
    border: none;
    outline: none;
}

.entries
{
    width: 99%;
    height: 30px;
    min-height: 10px;
    outline: none;/*to remove glowing border on focus/click*/
    /* border: none; */
    /* background-color: transparent; */
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: maroon;
}

.submitButton
{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    color: forestgreen;
    padding: 0;/*16px 32px;*/
    text-decoration: none;
    margin: 0;/*4px 2px;*/
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 5px;
    outline: none;/*to remove glowing border on focus/click*/
    /* height: 15px; */
}
.inputButtonDiv
{
    width: 100%;
    height: 30px;
    min-height: 5px;
    /* display: inline-block; */
    /* clear: both; */
    background-color: transparent;
    padding: 0%;
}

.brHeight {
    height: 10px;
    /* padding: 10px; */
    /* display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 2px; */
}
.formData
{
    height: 100%;
    width: 100%;
    /* overflow-y: scroll; */
}

@media only screen and (min-width: 481px) {
    /* For Desktops and Tablets: */
    .bodyMainLeft
    {
        height: 100%;
        /* width: 73% !important; */
        flex: 1;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    .bodyMainRight
    {
        height: 100%;
        width: 35%;
        min-width: 320px;
        float: left;
        margin: 0px;
        padding: 0px;
        /* margin-top: 10vh; */
        /* padding-top: 0%; */
        /*padding-right: 12px;*//*2.5%;*/
        /*padding-left: 12px;*/ /*2.5%;*/
        /* display: flex;
        justify-content: space-between; */
    }
    .headerLeft
    {
        Height:7%;
        Width:100%;
        float:left;
        Background-Color:Green; 
    }
    .headerRight
    {
        Height:7%;
        Width:100%;
        float:left;
        Background-Color:Green; 
    }
    .bodyLeft
    {
        Height:85%;
        Width:100%;
        float:left;
        padding-top: 5%;
        Background-Color:transparent; 
    }
    .bodyRight
    {
        Height:85%;
        Width:100%;
        float:left;
        padding-top: 5%;
        Background-Color:transparent; 
    }
    .mainBody
    {
        Height:93%; 
        Width:100%; 
        float:left; 
        Background-Color:transparent; 
    }
    
    .bodyMainRight
    {
        
    }
    .imageBackground
    {
        width: 100%;
        height: 100%;
        background-image: url(../Images/SigninOne.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    .imageLogo
    {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        /* float: left;
        margin: 0px;
        padding: 0px;*/
    }
    
    .imageLogoDiv
    {
        width: 100%;
        height: 100%;
        float: left;
        /* display: inline-grid;
        align-items: center; */
        /* flex: 1; */
        margin: 0px;
        padding: 0px;
    }
}
@media only screen and (max-width: 480px) {
    /* For mobiles: */
    .bodyMainLeft
    {
        height: 50%;
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    .bodyMainRight
    {
        width: 95%;
        height: 50%;
        float: left;
        margin-top: 0%;
        /* padding-top: 5vh; */
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
    .headerLeft
    {
        Height:0%;
        Width:100%;
        float:left;
        Background-Color:Green; 
        visibility: hidden;
    }
    .headerRight
    {
        Height:7%;
        Width:100%;
        float:left;
        Background-Color:Green; 
        /* visibility: hidden; */
    }
    .bodyLeft
    {
        Height:40%;
        Width:100%;
        float:left;
        Background-Color:Green; 
    }
    .bodyRight
    {
        Height:48%;
        Width:100%;
        float:left;
        Background-Color:Green; 
    }
    .mainBody
    {
        Height:93%; 
        Width:100%; 
        float:left; 
        Background-Color:transparent; 
    }
    .imageBackground
    {
        width: 100%;
        height: 100%;
        background-image: url(../Images/SigninOne.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .body
    {
        height: 100%;
        Width: 100%;
    }
    
    
    .imageLogo
    {
        /* width: 100%;
        height: 100%; */
        width: 100%;/*vw=ViewportWidth, vh=ViewportHeight*/
        height: 100%;/*vw=ViewportWidth, vh=ViewportHeight*/
        vertical-align: middle;
        /* float: left; */
    }
    
    .imageLogoDiv
    {
        width: 50%;
        height: 40%;
        /* float: left; */
        align-items: center;
        /* display: inline-grid;
        align-items: center; */
        /* /* margin: 0px; */
        padding-top: 5vh;
    }
}