/*

* {
    box-sizing: border-box;
}
/*
.row::after {
    content: "";
    clear: both;
    display: table;
}
*/

html, body, .mainCenterAttr
{
    width: 100%;
    height: 100%;/*100%;*/
    min-width: 320px;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

.header
{
    width: 100%;
    height: 10%;
}

.logButtons
{
    height: 100%;
    background-color: indianred;
    border: none;
    outline: none;
}

@media only screen and (min-width: 481px) {
    /* For Desktops and Tablets: */
    .imageBackground
    {
        width: 100%;
        height: 100%;
        background-image: url(../Images/SigninOne.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .body
    {
        height: 100%;
        width: 100%;
        display: flex;
    }
    .bodyLeft
    {
        height: 100%;
        width: 73% !important;
        flex: 1;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    .bodyRight
    {
        height: 100%;
        width: 37%;
        min-width: 320px;
        float: left;
        margin-top: 10vh;
        padding-top: 0%;
        padding-right: 12px;/*2.5%;*/
        padding-left: 12px; /*2.5%;*/
        /* display: flex;
        justify-content: space-between; */
    }
    /*
    .imageLogoDiv
    {
        /* width: 70%; *\/
        height: 100%;
        float: left;
        /* display: inline-grid;
        align-items: center; *\/
        flex: 1;
        margin: 0px;
        padding: 0px;
    }
    .imageLogo
    {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        /* float: left;
        margin: 0px;
        padding: 0px;*\/
    }
    .dataBody
    {
        /* width: 25%; *\/
        height: 90%;
        min-width: 320px;
        float: left;
        margin-top: 10vh;
        padding-top: 0%;
        padding-right: 12px;/*2.5%;*\/
        padding-left: 12px; /*2.5%;*\/
        /* display: flex;
        justify-content: space-between; *\/
    }
    */
}
@media only screen and (max-width: 480px) {
    /* For mobiles: */
    .imageBackground
    {
        width: 100%;
        height: 100%;
        background-image: url(../Images/SigninOne.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .body
    {
        height: 100%;
        Width: 100%;
    }
    
    .bodyLeft
    {
        height: 50%;
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    .bodyRight
    {
        width: 95%;
        height: 50%;
        float: left;
        margin-top: 0%;
        padding-top: 5vh;
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
    /*
    .imageLogoDiv
    {
        width: 100%;
        height: 40%;
        float: left;
        /* display: inline-grid;
        align-items: center; *\/
        margin: 0px;
        padding-top: 5vh;
    }
    .imageLogo
    {
        /* width: 100%;
        height: 100%; *\/
        width: 40vh;/*vw=ViewportWidth, vh=ViewportHeight*\/
        height: 40vh;/*vw=ViewportWidth, vh=ViewportHeight*\/
        vertical-align: middle;
        /* float: left; *\/
    }
    .dataBody
    {
        width: 95%;
        height: 50%;
        float: left;
        margin-top: 0%;
        padding-top: 5vh;
        padding-right: 2.5%;
        padding-left: 2.5%;
        /* display: flex;
        justify-content: space-between; *\/
    }
    */
}