@media only screen and (max-width: 699px) and (min-width: 520px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}